/* src/components/ScrollAnimation.css */
.scroll-animation-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .scroll-animation-section.animate {
    opacity: 1;
    transform: translateY(0);
  }
  